:root {
    --dark-brown: rgb(35, 25, 16); /* hsl(27, 36%, 10%) */
    --white: rgb(255, 255, 255); /* hsl(0, 0%, 100%) */

    --dark-teal: rgba(47, 119, 120, 0.2); /* hsl(180.822, 43.713%, 32.745%) */
    --teal: rgba(47, 119, 120); /* hsl(180.822, 43.713%, 32.745%) */

    --prussian-blue: rgb(0, 70, 117); /* hsl(204.103, 100%, 22.941%) */
    --deep-sea: rgb(0, 91, 117); /* hsl(193.33, 100%, 22.94%) */

    --font-size24: 1.5rem;
    --font-size30: 1.8rem;
    --font-size42: 2.625rem;
}
